:root {
  --pyro: #ef7939;
  --hydro: #4cc2f0;
  --anemo: #74c2a8;
  --electro: #af8fc1;
  --dendro: #a5c83a;
  --cryo: #a0d5e7;
  --geo: #fab631;
}

body {
  background-image: url(../assets/loading_screen.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  padding: 0 2.5vw;
}

#root > * {
  border: solid 2px rgba(245, 245, 245, 0.6);
  border-radius: 8px;
  box-shadow: 0px 0px 20px 1px whitesmoke;
  background-color: rgba(245, 245, 245, 0.5);
}

.game-ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5vh;
  padding: 5px 25px;
}

.game-ui h1,
.game-ui p {
  margin: 5px;
}

.scores-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.scores-display .elemental-text {
  text-shadow: 0 1px black;
}

.element-menu {
  background-color: transparent;
  position: relative;
  width: 150px;
}

.element-menu button {
  width: 100%;
}

.element-dropdown {
  display: none;
  position: absolute;
  box-shadow: 2px 4px 6px 0px black;
  width: 100%;
}

.element-menu:hover .element-dropdown {
  display: block;
}

.game-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px 15px;
}

.game-card img {
  margin-top: 15px;
}

.credits {
  text-align: center;
  margin: 0 0 2.5vh 0;
}

.elemental-text {
  font-weight: 600;
}

.pyro-text {
  color: var(--pyro);
}

.hydro-text {
  color: var(--hydro);
}

.anemo-text {
  color: var(--anemo);
}

.electro-text {
  color: var(--electro);
}

.dendro-text {
  color: var(--dendro);
}

.cryo-text {
  color: var(--cryo);
}

.geo-text {
  color: var(--geo);
}

.elemental-button {
  color: white;
  border: solid 1px black;
  font-weight: 600;
}

.elemental-button:hover {
  box-shadow: 0px 0px 5px 0px black inset;
}

.placeholder-button {
  color: black;
  display: block !important;
}

.placeholder-button:hover {
  cursor: default;
}

.pyro-background {
  background-color: var(--pyro);
}

.hydro-background {
  background-color: var(--hydro);
}

.anemo-background {
  background-color: var(--anemo);
}

.electro-background {
  background-color: var(--electro);
}

.dendro-background {
  background-color: var(--dendro);
}

.cryo-background {
  background-color: var(--cryo);
}

.geo-background {
  background-color: var(--geo);
}